$bg: #333333;
$blue: #aec7d5;
$white: #ffffff;
$bright_gray: #bebeba;
$darker_gray: #8a8484;
$button_gray: #868684;
$button_text: #c3c3c2;
$border: #797977;
$image_frame: #bbbbbb;

$myriad: 'Myriad Pro Regular', sans-serif;
$arial: 'Arial', sans-serif;

a {
	&:hover, &:visited, &:link, &:active {
		text-decoration: none !important;
	}

}
.infoblock {
    background: $bg;
    min-width: 320px;
    max-width: 782px;
    padding: 5px;

	.header {
    	height: 75px;
    	border-bottom: 1px solid $border;
    	display: flex;
    	justify-content: center;
    	width: 100%;
    	overflow:hidden;

    	div {    		
			color: $white;
			font-family: $myriad;
	    	display: flex;
	    	align-items: center;

    		&:first-of-type {
    			font-size: 22pt;
    			margin-right: 15px;
	    		&:before {
		    		background: url('../images/imdb-logo.png');
		    		background-size: auto 100%;
				    display: inline-block;
		    		height: 60px;
		    		width: 95px;
				    content: "";
	    			margin-right: 10px;
	    			background-repeat: no-repeat;

	    		}
	    	}

	    	&:nth-of-type(2) {
	    		font-size: 22pt;
    			text-transform: uppercase;
	    		&:before {
		    		background: url('../images/movies-icon.png');
		    		background-size: auto 100%;
				    display: inline-block;
		    		height: 45px;
		    		width: 44px;
				    content: "";
	    			background-repeat: no-repeat;
	    			margin-right: 10px;
	    		}
	    	}


	    	@media screen and (max-width: 450px) {
	    		&:first-of-type {
    				font-size: 14pt;
	    			
	    			&:before {
			    		height: 30%;
			    		width: 35px;
			    	}
	    		}
	    		&:nth-of-type(2) {
		    		font-size: 14pt;
		    		&:before {
			    		height: 30%;
			    		width: 25px;
		    		}
		    	}
	    	}
    	}

    	#movies-icon {
    		height: 45px;
    	}
    }

    .movies {

    	.movie {
    		margin: 17px 0px;
    		padding-left: 16px;
    		padding-right: 16px;

    		.title {
    			color: $white;
    			font-size: 16pt;
    			font-weight: bold;
    			height: 50px;
    			line-height: 15pt;
    			overflow: hidden;

    		}
		   	@media screen and (min-width: 360px) and (max-width: 425px) {
		   		.title {
		   			font-size: 11pt;
		   		}
		   	}
    		.genre {
    			text-transform: uppercase;
    			color: $blue;
    			font-size: 8pt;
    			height: 20px;
    			width: 100%;
    			overflow: hidden;
    			text-overflow: ellipsis;
				white-space: nowrap;
    		}
		   	@media screen and (min-width: 360px) and (max-width: 425px) {
		   		.genre {
		   			font-size: 6pt;
		   		}
		   	}
    		.rating {
    			font-size: 17pt;
    			font-family: $myriad;
    			color: $white;
    			width: 70px;

    			&:before {
				  	background: url('../images/star.png');
				  	margin-right: 5px;
				    background-size: 28px 28px;
				    display: inline-block;
				    width: 28px; 
				    height: 28px;
				    content:"";
				   	margin-bottom: 14px;
    			}
    		}
		   	@media screen and (min-width: 360px) and (max-width: 425px) {
	    		.rating {
	    			font-size: 12pt;
	    			width: 50px;

	    			&:before {
					    background-size: 18px 18px;
		    			height: 18px;
		    			width: 18px;
				   		margin-bottom: 9px;
	    			}
	    		}
		   	}
    		.description {
    			align-items: flex-start;
    			color: $blue;
    			font-size: 8.5pt;
    			text-align: justify;
    			padding-left: 14px;
				border-left: 1px dotted  $border;
    			height: 56px;
    			overflow: hidden;
    			width: calc(100% - 70px);
			    text-overflow: ellipsis;
			   	line-height: 14px;        /* fallback */
    		}
		   	@media screen and (min-width: 360px) and (max-width: 425px) {
		   		.description{
		   				font-size: 6pt;
		   				width: calc(100% - 50px);
		   			}
		   	}
    		div {
    			display: flex;
    			align-items: center;
    		}
    		>div:first-child {
    			margin-bottom: 10px;
    			align-items: flex-start;
    		}
    		.image {
			  	width: 35%; 
			  	border: 1px solid $image_frame;
			  	height: 92px;
				overflow: hidden;
    			img {
    				width: 100%;
    				height: auto;
    			}
    		}
    		@media screen and (min-width: 360px) and (max-width: 425px) {
    			.image {}
    		}
    		.more {
    			background-color: $button_gray;
				border: none;
				font-size: 10px; 
				height: 21px;
				width: 70px;
				text-align: left;
				padding-left: 8px;
				color: $button_text;
				border-radius: 2px;
				bottom: 0;
				padding-top: 3px;


				&:before {
			  		content:url('../images/arrow.png');
			  		margin-right: 5px;
				}
    		}

    		.info {
    			display: block;
    			margin-left: 13px;
    			height: 95px;
    			width: 65%;

    			div {
    				align-items: flex-start;
    			}
    		}
    	}
    }
}